/* Fonte global para o dashboard */
body {
    font-family: 'Roboto', sans-serif;
}

/* Estilo refinado para os gráficos */
.dash-graph {
    margin-bottom: 20px;
}

.header {
    background-color: #00995E;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
    padding: 10px;
}

.dropdown {
    width: 100%;
}

.filters label {
    font-weight: bold;
    margin-right: 10px;
}

.filters .dropdown {
    margin-right: 20px;
}

.filters button {
    margin-top: 5px;
}

