body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
    color: #333;
}

.header {
    background-color: #007B55; 
    color: white;
    text-align: left;  
    font-size: 32px; 
    font-weight: bold;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 0 0 16px 16px; 
    display: flex;  
    align-items: center;  
}

.dash-graph {
    background-color: white; 
    border-radius: 16px; 
    padding: 20px; 
    margin-bottom: 30px; 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15), 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.dash-graph:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.15); 
}

.header-image {
    width: 50px;  
    height: auto;  
    margin-left: 20px;  
    margin-right: 20px;  
}


.filters {
    background-color: white;
    border-radius: 16px; 
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.filters label {
    font-weight: bold;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.filters .dropdown {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px; 
}

.filters button {
    margin-top: 10px;
    background-color: #007B55;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 12px; 
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.filters button:hover {
    background-color: #005B40;
}


.dash-graph {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.pagination-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-top: 0;         
    height: 100%;           
}


.pagination-buttons .btn {
    margin: 0 15px;         
    font-size: 16px;       
    padding: 10px 20px;     
    border-radius: 9999px;  
    background-color: #007B55; 
    color: white;          
    border: none;           
    cursor: pointer;        
    font-weight: bold;     
    transition: background-color 0.3s ease; 
}

.pagination-buttons .btn:hover {
    background-color: #005B40; 
}

.pagina-vazia {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-top: 50px;
    border-radius: 12px; 
}


@media (max-width: 768px) {
    .header {
        font-size: 24px;
        padding: 15px 0;
        border-radius: 12px; 
    }

    .filters {
        padding: 15px;
        border-radius: 12px; 
    }

    .filters label {
        font-size: 14px;
    }

    .dash-graph {
        padding: 15px;
        border-radius: 12px; 
    }

    .pagination-buttons .btn {
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 10px;
    }

    .dash-graph {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08);
    }
    
    
}
